{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/account_user.css") }}">{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="media-trick my-5">
            <div class="my-5 mx-5">
                <h1 class="mb-5">Connexion</h1>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-group row">
                        <label for="inputUsername" class="col-12 col-md-4 col-form-label">Nom d'utilisateur</label>
                        <div class="col-12 col-md-8">
                            <input type="text" class="form-control" id="inputUsername" name="username" value="{{ last_username }}" required autofocus>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-12 col-md-4 col-form-label">Mot de passe</label>
                        <div class="col-12 col-md-8">
                            <input type="password" class="form-control" id="inputPassword" name="password" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-blue">Connexion</button>
                </form>

                <p class="offset-2 mt-4">Pas encore inscrit : <a href="{{ path('security_registration') }}">s'enregistrer</a>
                    <br/><small><a href="{{ path('security_forgotten') }}">Mot de passe oublié</a></small></p>
            </div>
        </div>
    </div>
{% endblock %}
