<div class="comments-paginate">
    <aside class="ml-5 mt-5">

        {% for comment in comments %}
            <div class="row">
                <div class="d-flex align-items-start">
                    <img class="rounded-circle col-1 avatar" src="{{ asset(comment.user.avatar) }}" alt=" user.username "/>
                </div>
                <div class="col-3">
                    <B>{{ comment.user.username }}</B><br/>
                    Le {{ comment.createdAt | date('d/m/y') }} à {{ comment.createdAt | date('H:i') }}
                </div>
                <div class="col-7 text-justify">
                    {{ comment.content | nl2br }}
                </div>
                <div class="col-12 pr-5">
                    <hr/>
                </div>
            </div>
        {% endfor %}

    </aside>
    {{ render | raw }}
</div>

<script>

    $(document).ready(function(){
        $('.pagination > a').click(function(e){
            e.preventDefault();
            var $url = this.href;
            $.post(
                $url,
                function($data){
                    $('.comments-paginate').replaceWith($data);
                });
        });
    });

</script>