{% extends 'base.html.twig' %}
{% block title %}SnowTricks : Ajout d'une figure{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/trick_addForm.css") }}">{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

        <div class="card mb-5">
            <div class="card-header bg-dark text-white">
                <img src="{{ asset('images/add.jpg') }}" class="card-img col-6 offset-3 text-center mt-4" alt="ajouter une image">
            </div>
            <div class="card-body">
                <div class="row my-5 text-center">
                    <div class="col-6">
                        <h5>Ajouter une photo</h5>
                        <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></div>
                        {{ form_widget(form.images) }}
                    </div>
                    <div class="col-6">
                        <h5>Ajouter une vidéo</h5>
                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>

                {{ form_row(form.title) }}
                {{ form_row(form.description) }}

                <div class="row">
                    <div class="col-6">
                        <div class="categories">
                            {{ form_row(form.categories) }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center">
                            <h5>Ajouter une catégorie</h5>
                            <a href="#"><i class="fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">{{ "Ajouter l'article" }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

<script src="{{ asset('js/add_trick_form.js') }}"></script>

{% endblock %}
