{% extends 'base.html.twig' %}
{% block title %}SnowTricks : le site de tous les snowborders{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/home.css") }}">{% endblock %}

{% block body %}

   <div class="container">

        <div class="row justify-content-center justify-content-center text-center mt-5" id="tricks">
            <div class="col-12 col-md-4">
                <a href="{{ path('trick_show', {id: trick.id}) }}"><img id="trick-img" src="{{ asset(trick.image) }}" alt="{{ trick.title }}"></a>
                <a href="{{ path('trick_show', {id: trick.id}) }}"><h3 class="text-break">{{ trick.title }}</h3></a>
            </div>
            <div class="col-6 ">
                <div class="row text-center">
                    <p class="col-12 mt-5">Etes-vous sûr de vouloir supprimer cette figure ?</p>
                    <div class="col-6">
                        <a href="{{ path("home") }}" class="btn btn-secondary">Annuler</a>
                    </div>
                    <div class="col-6">
                        <form action="{{ path('trick_delete', {id: trick.id}) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~trick.id) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}