{% extends 'base.html.twig' %}
{% block title %}SnowTricks : Modification d'une figure{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/trick_editForm.css") }}">{% endblock %}

{% block body %}
    <div class="container">

        {% set poster="" %}
        {% for image in trick.images %}
            {% if image.poster == 1 %}
                {% set poster = image  %}
            {% endif %}
        {% endfor %}


        <div class="card mb-5">
            <div class="card-header bg-dark text-white">
                {% if trick.images | length == 0 %}
                    <img src="{{ asset('images/tricks/noImage.jpg') }}" class="card-img col-6 offset-3 text-center mt-4" alt="no image">
                {% else %}
                    <img src="{{ asset(poster.url) }}" class="card-img col-6 offset-3 text-center mt-4" alt="{{ poster.alt }}">
                {% endif %}
                <div class="text-center">
                    {% if poster !="" %}
                        <div class="text-right">
                            <a href="#" data-toggle="modal" data-target="#changePosterModal">
                                <i class="fas fa-recycle"></i>
                            </a>
                            <a href="{{ path('image_delete', { 'id' : poster.id, 'csrf_token' : csrf_token('delete'~poster.id)}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-img-overlay col-6">
                        <p class="card-title mt-5 text-break" id="title-img">{{ trick.title }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center" id="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center" id="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="row my-5">
                    <div class="col-8 d-flex " id="tricks-img">
                        <div class="row">
                            {% for image in trick.images %}
                                <div class="col-2 text-center">
                                    <img class="card-img" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                    {% if image.poster == 0 %}
                                        <a href="{{ path('image_poster_change', {'newPoster' : image.id, 'oldPoster' : poster.id}) }}">
                                            <i class="far fa-images"></i>
                                        </a>
                                    {% else %}
                                        <a href="#" data-toggle="modal" data-target="#changePosterModal">
                                            <i class="fas fa-recycle"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('image_delete', { 'id' : image.id, 'csrf_token' : csrf_token('delete'~image.id)}) }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="changePosterModal" tabindex="-1" role="dialog" aria-labelledby="changePosterModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="changePosterModalLabel">Choisissez la nouvelle image principale pour cette figure</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row text-center">
                                        {% for image in trick.images %}
                                            <div class="col-3">
                                                <a href="{{ path('image_poster_change', {'newPoster' : image.id, 'oldPoster' : poster.id}) }}">
                                                    <img class="img-modal" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" id="tricks-video">
                        <div class="row">
                            {% for video in trick.videos %}
                                <div class="col-4 text-center">
                                    {{ video.iframe | raw }}
                                    <a href="{{ path('video_delete', { 'id' : video.id, 'csrf_token' : csrf_token('delete'~video.id)}) }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row my-5 text-center">
                    <div class="col-8">
                        <h5>Ajouter une photo</h5>
                        {{ form_start(formImage) }}
                        <a class="add-image-form mb-4" role="button"><i class="fas fa-plus-circle"></i></a>
                        {{ form_errors(formImage.file) }}
                        <div class="row form-image-hidden justify-content-center">
                            <div class="col-4 text-left mt-3 mb-2">
                                {{ form_row(formImage.file) }}
                            </div>
                            <div class="col-1 mt-4">
                                <button type="submit" class="icone-button"><i class="fas fa-download"></i></button>
                            </div>
                            <p class="col-12 font-weight-light">
                                <small>(Sélectionner un fichier et cliquer sur l'icone <i class="fas fa-download"></i> pour valider)</small>
                            </p>
                        </div>
                        {{ form_end(formImage) }}
                    </div>

                    <div class="col-4">
                        <h5>Ajouter une vidéo</h5>
                        {{ form_start(formVideo) }}
                        <a class="add-video-form mb-4" role="button"><i class="fas fa-plus-circle"></i></a>
                        {{ form_errors(formVideo.iframe) }}
                        <div class="row form-video-hidden justify-content-center">
                            <p id="explanation" class="font-weight-light"><small>Coller un iframe dans le cadre ci-dessous</small> <button type="button" class="icone-button" data-toggle="modal" data-target="#explanationModal"><i class="fas fa-question-circle"></i></button></p>
                            <div class="col-8 text-left mt-3 mb-2">
                                {{ form_widget(formVideo.iframe) }}
                            </div>
                            <div class="col-1 mt-4">
                                <button type="submit" class="icone-button"><i class="fas fa-download"></i></button>
                            </div>
                            <p class="col-12 font-weight-light">
                                <small>(Sélectionner un fichier et cliquer sur l'icone <i class="fas fa-download"></i> pour valider)</small>
                            </p>
                        </div>
                        {{ form_widget(formVideo) }}
                    </div>
                    {{ form_end(formImage) }}
                </div>

                <div class="row">
                    <div class="col-8">
                        {{ form_start(formTrick) }}
                        {{ form_row(formTrick.title) }}
                        {{ form_row(formTrick.description) }}
                        <div class="row mt-4">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-4">
                                        {{ form_label(formTrick.categories) }}
                                    </div>
                                    <div class="col-8">
                                        {{ form_widget(formTrick.categories) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center offset-7 mt-5">
                            <a href="{{ path('trick_show', {'id' : trick.id}) }}" class="btn btn-secondary">
                                <i class="fas fa-eye"></i>
                            </a>
                            <button type="submit" class="btn btn-secondary">Modifier la figure</button>
                            {{ form_end(formTrick) }}

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTrickModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>

                        </div>

                    </div>

                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5>Ajouter une catégorie</h5>
                                <a href="#"><i class="fas fa-plus-circle" id="href"></i></a>
                                {{ form_start(formCategory) }}
                                {{ form_errors(formCategory.title) }}
                            </div>
                            <div id="category-form" class="col-12 text-left mt-4">
                                {{ form_row(formCategory.title) }}
                                <div class="text-center">
                                    <button class="btn btn-sm btn-secondary button-add-category">Ajouter la catégorie</button>
                                </div>
                                {{ form_end(formCategory) }}
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteTrickModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrickModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title " id="deleteTrickModalLabel">{{ trick.title }}</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sur de vouloir supprimer cette figure ?</p>
                                <div class="row px-5">
                                    <img src="{{ poster=="" ? asset('/images/tricks/noImage.jpg') : asset(poster.url) }}" alt="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <form action="{{ path('trick_delete', {id: trick.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~trick.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="explanationModal" tabindex="-1" role="dialog" aria-labelledby="explanationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="explanationModalLabel">Ou trouver l'iframe d'une vidéo ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sur votre plateforme vidéo favorite :
                    <ul>
                        <li>Cliquer sur partager la vidéo.</li>
                        <li>Choisir l'option intégrer.</li>
                        <li>Copier le lien qui s'affiche.</li>
                        <li>Coller le lien dans le cadre du formulaire.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/edit_trick_form.js') }}"></script>
{% endblock %}
