{% extends 'base.html.twig' %}
{% block title %}SnowTricks : Modification d'une figure{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/trick_editForm.css") }}">{% endblock %}

{% block body %}
    <div class="container mt-5">

        {% set poster="" %}
        {% for image in trick.images %}
            {% if image.poster == 1 %}
                {% set poster = image  %}
            {% endif %}
        {% endfor %}


        <div class="card card-trick mb-5">
            <div class="card-header card-header-trick text-white mx-4 mt-4">
                {% if trick.images | length == 0 %}
                    <img src="{{ asset('images/tricks/noImage.jpg') }}" class="card-img no-image col-6 offset-3 text-center mt-4" alt="no image">
                {% else %}
                    <img src="{{ asset(poster.url) }}" class="card-img media-trick col-6 offset-3 text-center mt-4" alt="{{ poster.alt }}">
                {% endif %}
                <div class="text-center">
                    {% if poster !="" %}
                        <div class="text-right">
                            <a href="#" data-toggle="modal" data-target="#changePosterModal">
                                <i class="fas fa-recycle"></i>
                            </a>
                            <a href="{{ path('image_delete', { 'id' : poster.id, 'csrf_token' : csrf_token('delete'~poster.id)}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-img-overlay col-6 ml-5 d-none d-md-block">
                        <p class="card-title mt-5 text-break" id="title-img">{{ trick.title }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center" id="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center" id="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- mobil medias -->
                <h1 class="d-block d-md-none text-center">{{ trick.title }}</h1>
                <div class="d-block d-md-none text-center">
                    <p>
                        <button class="btn btn-sm btn-blue" type="button" data-toggle="collapse" data-target="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
                            Photos
                        </button>
                        <button class="btn btn-sm btn-blue" type="button" data-toggle="collapse" data-target="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo">
                            Videos
                        </button>
                    </p>
                    <div class="card card-body collapse" id="collapseImage">
                        <div class="col-12 col-lg-7 trick-medias mb-4" id="tricks-img">
                            <div class="row my-3">
                                {% for image in trick.images %}
                                    <div class="col-2 text-center">
                                        {% if image.poster == 0 %}
                                            <img class="card-img" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                            <a href="{{ path('image_poster_change', {'newPoster' : image.id, 'oldPoster' : poster.id}) }}">
                                                <i class="far fa-images"></i>
                                            </a>
                                        {% else %}
                                            <img class="card-img media-trick" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                            <a href="#" data-toggle="modal" data-target="#changePosterModal">
                                                <i class="fas fa-recycle"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('image_delete', { 'id' : image.id, 'csrf_token' : csrf_token('delete'~image.id)}) }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card card-body collapse" id="collapseVideo">
                        <div class="col-12 offset-lg-1 col-lg-4 trick-medias" id="tricks-video">
                            <div class="row my-3">
                                {% for video in trick.videos %}
                                    <div class="col-4 text-center">
                                        {{ video.iframe | raw }}
                                        <a href="{{ path('video_delete', { 'id' : video.id, 'csrf_token' : csrf_token('delete'~video.id)}) }}">
                                            <i class="fas fa-trash-alt mb-1"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-4 mx-3 justify-content-center add-media">
                    <div class="col-12 col-sm-5 col-md-12 col-lg-7 trick-medias mb-4 mr-1" id="tricks-img">
                        <div class="d-none d-md-block ">
                            <div class="row my-3">
                                {% for image in trick.images %}
                                    <div class="col-2 text-center">
                                        {% if image.poster == 0 %}
                                            <img class="card-img" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                            <a href="{{ path('image_poster_change', {'newPoster' : image.id, 'oldPoster' : poster.id}) }}">
                                                <i class="far fa-images"></i>
                                            </a>
                                        {% else %}
                                            <img class="card-img media-trick" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                            <a href="#" data-toggle="modal" data-target="#changePosterModal">
                                                <i class="fas fa-recycle"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('image_delete', { 'id' : image.id, 'csrf_token' : csrf_token('delete'~image.id)}) }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row text-center mb-3">
                            <div class="col-12">
                                <h5 class="add-media">Ajouter une photo</h5>
                                {{ form_start(formImage) }}
                                <a class="add-image-form mb-4" role="button"><i class="fas fa-plus-circle"></i></a>
                                {{ form_errors(formImage.file) }}
                                <div class="row form-image-hidden justify-content-center">
                                    <div class="col-4 text-left mt-3 mb-2">
                                        {{ form_widget(formImage.file) }}
                                    </div>
                                    <div class="col-1 mt-4">
                                        <button type="submit" class="icone-button"><i class="fas fa-download"></i></button>
                                    </div>
                                    <p class="col-12 font-weight-light">
                                        <small>(Sélectionner un fichier et cliquer sur l'icone <i class="fas fa-download"></i> pour valider)</small>
                                    </p>
                                </div>
                                {{ form_end(formImage) }}
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="changePosterModal" tabindex="-1" role="dialog" aria-labelledby="changePosterModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="changePosterModalLabel">Choisissez la nouvelle image principale pour cette figure</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row text-center">
                                        {% for image in trick.images %}
                                            <div class="col-3 mb-3">
                                                <a href="{{ path('image_poster_change', {'newPoster' : image.id, 'oldPoster' : poster.id}) }}">
                                                    <img class="img-modal" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                                    {% if image.poster %}
                                                        <hr/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-blue" data-dismiss="modal">Annuler</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-5 col-md-12 offset-lg-1 col-lg-4 trick-medias ml-1" id="tricks-video">
                        <div class="d-none d-md-block ">
                            <div class="row my-3">
                                {% for video in trick.videos %}
                                    <div class="col-4 text-center">
                                        {{ video.iframe | raw }}
                                        <a href="{{ path('video_delete', { 'id' : video.id, 'csrf_token' : csrf_token('delete'~video.id)}) }}">
                                            <i class="fas fa-trash-alt mb-1"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <h5 class="add-media">Ajouter une vidéo</h5>
                                {{ form_start(formVideo) }}
                                <a class="add-video-form mb-4" role="button"><i class="fas fa-plus-circle"></i></a>
                                {{ form_errors(formVideo.iframe) }}
                                <div class="row form-video-hidden justify-content-center">
                                    <p id="explanation" class="font-weight-light"><small>Coller un iframe dans le cadre ci-dessous</small> <button type="button" class="icone-button" data-toggle="modal" data-target="#explanationModal"><i class="fas fa-question-circle"></i></button></p>
                                    <div class="col-8 text-left mt-3 mb-2">
                                        {{ form_widget(formVideo.iframe) }}
                                    </div>
                                    <div class="col-1 mt-4">
                                        <button type="submit" class="icone-button"><i class="fas fa-download"></i></button>
                                    </div>
                                    <p class="col-12 font-weight-light">
                                        <small>(Sélectionner un fichier et cliquer sur l'icone <i class="fas fa-download"></i> pour valider)</small>
                                    </p>
                                </div>
                                {{ form_end(formVideo) }}

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row trick-medias mx-4 mb-4">
                    <div class="col-12 col-lg-8 mt-4 pl-5">
                        {{ form_start(formTrick) }}
                        {{ form_row(formTrick.title) }}
                        {{ form_row(formTrick.description) }}
                        <div class="row mt-4">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        {{ form_label(formTrick.categories) }}
                                    </div>
                                    <div class="offset-2 col-10">
                                        {{ form_widget(formTrick.categories) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4 justify-content-center">
                            <div class="col-12 col-md-2 text-center text-md-left">
                                <a href="{{ path('trick_show', {'id' : trick.id}) }}" class="btn btn-blue">
                                    <i class="fas fa-eye i-btn"></i>
                                </a>
                            </div>
                            <div class="col-12 col-md-auto text-center my-2 my-md-0">
                                <button type="submit" class="btn btn-blue">Modifier la figure</button>
                            </div>
                            {{ form_end(formTrick) }}
                            <div class="col-12 col-md-2 text-center text-md-right">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTrickModal">
                                    <i class="fas fa-trash-alt i-btn"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center mt-3 mb-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="add-media">Ajouter une catégorie</h5>
                                <a href="#"><i class="fas fa-plus-circle" id="href"></i></a>
                                {{ form_start(formCategory) }}
                                {{ form_errors(formCategory.title) }}
                            </div>
                            <div id="category-form" class="col-12 mt-4">
                                {{ form_row(formCategory.title) }}
                                <div class="text-center">
                                    <button class="btn btn-sm btn-blue button-add-category">Ajouter la catégorie</button>
                                </div>
                                {{ form_end(formCategory) }}
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteTrickModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrickModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title " id="deleteTrickModalLabel">{{ trick.title }}</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sur de vouloir supprimer cette figure ?</p>
                                <div class="row px-5">
                                    <img src="{{ poster=="" ? asset('/images/tricks/noImage.jpg') : asset(poster.url) }}" alt="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue" data-dismiss="modal">Annuler</button>
                                <form action="{{ path('trick_delete', {id: trick.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~trick.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="explanationModal" tabindex="-1" role="dialog" aria-labelledby="explanationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="explanationModalLabel">Ou trouver l'iframe d'une vidéo ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sur votre plateforme vidéo favorite :
                    <ul>
                        <li>Cliquer sur partager la vidéo.</li>
                        <li>Choisir l'option intégrer.</li>
                        <li>Copier le lien qui s'affiche.</li>
                        <li>Coller le lien dans le cadre du formulaire.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/edit_trick_form.js') }}"></script>
{% endblock %}
