{% extends 'base.html.twig' %}
{% block title %}SnowTricks : Ajout d'une figure{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/trick_form.css") }}">{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-5">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <button class="btn btn-secondary">Ajouter</button>
            {{ form_end(form) }}
        </div>




    </div>
{% endblock %}
