{% extends 'base.html.twig' %}
{% block title %}SnowTricks : {{ trick.title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/trick_show.css") }}">{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="card mb-5">
            <section>
                <div class="card-header bg-dark text-white">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            {% set poster={} %}

                            {% if trick.images | length == 0 %}
                                <img class="d-block w-100 card-img col-6 offset-3 text-center mt-4" src="{{ asset('images/tricks/noImage.jpg') }}" alt="no image">
                                {% set poster = {'url' : 'images/tricks/noImage.jpg', 'alt' : 'no image'}  %}
                            {% endif %}

                            {% for image in trick.images %}
                                {% if image.poster ==1 %}
                                    {% set poster = {'url' : image.url, 'alt' : image.alt} %}
                                {% endif %}
                                <div class="carousel-item {{ image.poster == 1 ? 'active' }}">
                                    <img class="d-block w-100 card-img col-6 offset-3 text-center mt-4" src="{{ asset(image.url) }}" alt="slide {{ loop.index }}">
                                </div>
                            {% endfor %}

                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Suivant</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Précécent</span>
                            </a>

                        </div>
                    </div>

                    <div class="text-center">
                        {%  if app.user %}
                            <div class="text-right">
                                <a href="{{ path('trick_edit', {id: trick.id}) }}">
                                    <i class="fas fa-pencil-alt mr-3"></i>
                                </a>
                                <a type="button" href="#" data-toggle="modal" data-target="#deleteTrickModal">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        {% endif %}

                        <div class="card-img-overlay col-6">
                            <p class="card-title mt-5 text-break" id="title-img">{{ trick.title }}</p>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteTrickModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrickModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title " id="deleteTrickModalLabel">{{ trick.title }}</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sur de vouloir supprimer cette figure ?</p>
                                <div class="row px-5">
                                    <img src="{{asset(poster.url) }}" alt="{{ poster.alt }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <form action="{{ path('trick_delete', {id: trick.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~trick.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body text-center">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div class="row mt-3">
                        <div class="col-6 d-flex " id="tricks-img">
                            <div class="row carousel-indicator">
                                {% for image in trick.images %}
                                    <a class="col-3 mb-3" data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" href="">
                                        <img class="card-img" src="{{ asset(image.url) }}" alt="{{ image.alt }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-6" id="tricks-video">
                            <div class="row">
                                {#                                    {% for i in 1..2 %}#}
                                {#                                        <iframe class="col-4" src="https://www.youtube.com/embed/V9xuy-rVj9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                                {#                                    {% endfor %}#}
                            </div>
                        </div>

                    </div>

                    <h1 class="card-title mt-5">{{ trick.title }}</h1>
                    <p class="card-text mt-4">{{ trick.description | raw }}</p>
                    <p class="card-text mt-4">
                        {% for category in trick.categories %}
                            <a href="#" class="">
                                <span class="badge badge-pill badge-secondary mx-3">{{ category.title }}</span>
                            </a>
                        {% endfor %}
                    </p>
                </div>
            </section>
        </div>

        <section>

            <div class="card mb-5">

                <h2 class="card-header bg-dark text-white text-center" id="comments">
                    Commentaires <span class="badge badge-pill badge-secondary mx-3">{{ trick.comments |length }}</span>
                </h2>

                {%  if app.user %}

                    <div class="row mt-5">
                        <div class="col-8">
                            {{ form_start(form) }}
                            {{ form_row(form.content, {label: false}) }}
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-secondary mb-2">Commenter</button>
                            {{ form_end(form) }}
                        </div>
                    </div>

                {% else %}

                    <div class="text-center mt-5">
                        <a href="{{ path('security_login') }}" class="btn btn-secondary">Connectez-vous pour commenter</a>
                    </div>

                {% endif %}

                <aside class="ml-5 mt-5">

                    {% for comment in trick.comments | reverse %}

                        <div class="row">
                            <img class="rounded-circle col-1 avatar" src="{{ asset(comment.user.avatar) }}" alt=" user.username "/>
                            <div class="col-3">
                                <B>{{ comment.user.username }}</B><br/>
                                Le {{ comment.createdAt | date('d/m/y') }} à {{ comment.createdAt | date('H:i') }}
                            </div>
                            <div class="col-7 text-justify">
                                {{ comment.content | raw }}
                                <hr/>
                            </div>
                        </div>

                    {% endfor %}

                </aside>

                <p class="text-center mt-4">Page : <span class="badge badge-pill badge-secondary mx-2">1</span> <span class="badge badge-pill badge-secondary mx-2">2</span></p>
            </div>

        </section>

    </div>
{% endblock %}
